.bookTitle {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}

.bookContent {
    background-color: beige;
    height: 60vh;
    overflow: auto;
    margin-bottom: 50px;
}

.article {
    padding-left: 5vw;
}